body section{
    margin-top: 200px;
}

/* header section style */
.header{
    display: flex;
    background-color: rgb(230, 211, 214);
    justify-content: space-between;
}
.header-title{
    font-size: 80px;
    font-weight: 700;
    width: 69%;
    margin-left: 200px;
    margin-top: 250px;
}
.header-desc{
    font-size: 20px;
    width: 69%;
    margin-left: 200px;
    margin-top: 5px;
    /* gap: 5px; */
    color: #5e5c5c;
    /* margin-top: 100px; */
}
.btn-primary{
    font-size: 20px;
    /* width: 50%; */
    font-weight: 700;
    margin-left: 200px;
    color: white;
    background-color: rgb(216, 72, 96);
    padding: 20px 20px;
    width: 200px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 200px;
    
}
.img{
    margin-right: 300px;
    margin-top: 50px;
}

/* featured flowers section styles */
.section-title{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-weight: 700;
}
.section-desc{
    font-size: 30px;
    width: 50%;
    margin-left: 500px;
    margin-top: 5px;
    text-align: center;
    /* gap: 5px; */
    color: #5e5c5c;
}
.flower-trees{
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.anchor{
    font-size: 25px;
    font-weight: 600;
    color: black;
    
}

/* sign up section styles */
.title{
    font-size: 50px;
}
.text-part{
    color: rgb(216, 72, 96);
}
.signup-section{
 display: flex;
 justify-content: space-between;
 margin-top: 200px;
 width: 50%;
 gap: 800px; */
 text-align: center;
    /* background-color: rgb(220, 215, 218); */
}
.sign-up-part{
    margin-left: 200px;
}
.sign-up-img{
    /* margin-right: 2000px; */
}
.sign{
    display: flex;
    margin-top: 100px;
    background-color: rgb(230, 211, 214);
    justify-content: space-between;
    text-align: center;
}
.sign-title{
    font-size: 50px;
    font-weight: 700;
    width: 69%;
    margin-left: 200px;
    margin-top: 250px;
}
.sign-desc{
    font-size: 30px;
    width: 50%;
    margin-left: 500px;
    margin-top: 5px;
    text-align: center;
    /* gap: 5px; */
    color: #5e5c5c;
}
.text-part{
    color:rgb(216, 72, 96);
}
.Rectangle{
    margin-right: 220px;
    margin-top: 120px;
}
#btn-sign-up{
    margin-right: 250px;
    /* padding: 10px 10px; */
}


/* insta styles */

.insta-title{
    font-size: 50px;
    font-weight: 700;
    width: 69%;
    margin-left: 200px;
    margin-top: 250px;
    text-align: center;
}
.insta-desc{
    font-size: 30px;
    width: 50%;
    margin-left: 450px;
    margin-top: 5px;
    text-align: center;
    /* gap: 5px; */
    color: #5e5c5c;
}

.insta-flowers{
    display: flex;
    gap: 50px;
    margin-left: 350px;
}