body section{
    margin-top: 200px;
}

/* header section style */
.header{
    display: flex;
    background-color: rgb(230, 211, 214);
    justify-content: space-between;
}
.header-title{
    font-size: 80px;
    font-weight: 700;
    width: 69%;
    margin-left: 200px;
    margin-top: 250px;
}
.header-desc{
    font-size: 20px;
    width: 69%;
    margin-left: 200px;
    margin-top: 5px;
    /* gap: 5px; */
    color: #5e5c5c;
    /* margin-top: 100px; */
}
.btn-primary{
    font-size: 20px;
    /* width: 50%; */
    font-weight: 700;
    margin-left: 200px;
    color: white;
    background-color: rgb(216, 72, 96);
    padding: 20px 20px;
    width: 200px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    margin-bottom: 200px;
    cursor: pointer;
}
.img{
    margin-right: 300px;
    margin-top: 50px;
}

/* featured flowers section styles */
.section-title{
    font-size: 50px;
    font-weight: 700; 
    text-align: center;  
    margin-right: 100px;
    
}
.section-desc{
    font-size: 30px;
    width: 50%;
    margin-left: 500px;
    margin-top: 5px;
    text-align: center;
    /* gap: 5px; */
    color: #5e5c5c;
}
.flower-trees{
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 500px;
    margin-right: 500px;
}

.anchors{
    font-size: 25px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-left: 560px;
    margin-right: 560px;
    cursor: pointer;
    
}

/* sign up section styles */
.title{
    font-size: 50px;
}
.text-part{
    color: rgb(216, 72, 96);
}
.signup-section{
 display: flex;
 justify-content: space-between;
 margin-top: 200px;
 width: 50%;
 gap: 800px; 
 text-align: center;
    /* background-color: rgb(220, 215, 218); */
}
.sign-up-part{
    margin-left: 200px;
}
/* .sign-up-img{
    margin-right: 2000px;
} */
.sign{
    display: flex;
    margin-top: 100px;
    background-color: rgb(230, 211, 214);
    justify-content: space-between;
    text-align: center;
}
.sign-title{
    font-size: 50px;
    font-weight: 700;
    width: 69%;
    margin-left: 500px;
    margin-top: 250px;
}
.sign-desc{
    font-size: 30px;
    width: 50%;
    margin-left: 650px;
    margin-top: 5px;
    text-align: center;
    /* gap: 5px; */
    color: #5e5c5c;
}
.text-part{
    color:rgb(216, 72, 96);
}
.Rectangle{
    margin-right: 220px;
    margin-top: 120px;
}
#btn-sign-up{
    margin-left: 570px;
    cursor: pointer;
    /* padding: 10px 10px; */
}


/* insta styles */

.insta-title{
    font-size: 50px;
    font-weight: 700;
    width: 69%;
    margin-left: 300px;
    margin-top: 250px;
    text-align: center;
}
.insta-desc{
    font-size: 30px;
    width: 50%;
    margin-left: 500px;
    margin-top: 5px;
    text-align: center;
    /* gap: 5px; */
    color: #5e5c5c;
}

.insta-flowers{
    display: flex;
    gap: 50px;
    margin-left: 350px;
}


/* subscribe part */
.subs-part{
    background-image: url("Flower Asset/Rectangle_9.png");
    background-repeat: no-repeat;
    background-position: center;
}
.subs-title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}
.subs-desc{
    font-size: 25px;
    width: 50%;
    margin-left: 560px;
    text-align: center;
    margin-bottom: 20px;
    /* gap: 5px; */
    color: #5e5c5c;
}

.input-subs{
    margin-left: 700px;
    width: 700px;
    height: 60px;
    border: 0;
    border: 5px;
    margin-bottom: 193px;
    
}
.btn-subs{
    font-size: 20px;
    /* width: 50%; */
    font-weight: 700;
    color: white;
    background-color: rgb(216, 72, 96);
    padding: 20px 20px;
    width: 200px;
    margin-left: 30px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}
.inputANDsubs{
    display: inline-block;
}

/* optional */
.section-title-op{
    font-size: 50px;
    font-weight: 700;
    width: 69%;
    margin-top: 250px;
    margin-left: 700px;
}
.optional{
    background-color: #ea5252;
    width: 100%;
}

.optional-column {
    width: 70%;
}

.optional input[type="text"], .optional input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    margin-left: 690px;
    border: 0;
    width: 50%;
}
#btn-sub{
    margin-left: 690px;
    cursor: pointer;
}

/* footer style */
.footer-part{
    background-color: black;
    text-align: center;
    padding: 100px;
    margin-top: 200px;
}
.footer-title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: white;
}
.footer-desc{
    font-size: 20px;
    width: 50%;
    margin-left: 520px;
    text-align: center;
    /* gap: 5px; */
    color: #5e5c5c;
    margin-top: 50px;
    
}
.Shop{
    color:#ea5252
}
.footer-DESC{
    color: rgb(170, 155, 155);
    font-size: 20px;
    width: 30%;
    margin-left: 560px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 750px;
    /* gap: 5px; */
}

